.contact_body{
display: flex;
width: 100%;
border: 2px solid gray;
}
.contact_form{
    width: 50%;
    height: fit-content;
    display: flex;
}
.contact_info{
    width: 50%;
    height: fit-content;
}
form{
    height: fit-content;
   
    display: flex;
    flex-direction: column;
    font-weight: medium;
    font-size: 15px;
    padding: 1rem 2rem;
    border: 1.5px solid #FAA613;
}
label{
    display: flex;
    justify-content: start;
    float: left;
    padding-bottom: 10px;
}
#input{
    width: 100%; 
    padding: .8rem 1rem;
    border: 1.3px solid #FAA613;
    border-radius: 10px;
    font-size: 11px;
    box-shadow: 0px 0px 5px grey;
}
.input_div{
    margin-top: 1rem;
}

#message{
    width: 100%;
    border: 1.3px solid #FAA613;
    border-radius: 10px;
    box-shadow: 0px 0px 5px grey;

}
#submit{
 width: 100%;
    padding: .7rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FAA613;
    box-shadow: 0px 0px 10px grey;

}
.info1{
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    margin: auto; 
    height: 20%; 
    margin-top: 1rem;
    font-size: 1rem;
    border: 1px solid #FAA613;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    font-weight: medium;
    background-color: grey;
}

@media (max-width: 800px) {
.contact_body{
     flex-direction: column;
    }
    .contact_form{
        width: 100%;
    }
    .contact_info{
        width: 100%;
    }
}