
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');
* {
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Ysabeau Infant', sans-serif;}
html{
    scroll-behavior: smooth;
}
.main {
    margin: 0;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    background-color: white;
    display: flex;
}

.header {
    width: 20%;
    position: fixed;
    height: fit-content;
    min-height: 100vh;
    display: block;
    background-color: #FAA613;
}

.content {
    font-family: 'Ysabeau Infant', sans-serif;

    width: 80%;
    height: fit-content;
    min-height: 100vh;
    margin-left: 20%;
}

.pic {
    width: 100%;
    padding-top: 2rem;
    height: fit-content;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links {
    width: 100%;
    height: fit-content;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: left;
}

.platforms {
    width: 100%;
    height: fit-content;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.platforms p{
    padding-left: 1rem;
    font-size: x-large;
    align-self: center;
}

.image{
    height: 11rem;
    width: 10rem;
    border-radius: 100%;
    /* object-fit: cover; */
}
.names{
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    /* background-color: brown; */
    align-self: center;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    padding-top: .5rem;

}
li a{
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    padding-left: 1rem;

}
.plat{
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: #000000;
}
/* Initially hide the header on small devices */


.burger {
    display: none;
}
/* Show the burger button */


/* Style for the slide-in menu */
.slide-in-menu {
    position: fixed;
    top: 0;
    right: -100%; /* Initially off-screen */
    width: 70%; /* Adjust the width as needed */
    height: 100%;
    background-color: #fff; /* Adjust background color */
    padding: 2rem;
    transition: right 0.3s ease-in-out; /* Add smooth transition */
    z-index: 99;
}

/* Media query for small devices */
@media (min-width: 360px) and (max-width: 800px) {
    #close-icon {
                 display: none;
      }


    .content {
        width: 100%;
        margin-left: 0%;
    }
    .burger {
        display: block;
        position: fixed;
        top: 2rem;
        right: 2rem;
        z-index: 100;
    }
    .fa-solid{
        font-size: 2rem;
    }
    .burger {
        display: block;
    }


    /* Show the header menu when burger button is clicked */
    .show-menu .header {
        display: block;
        width: 100%;
        height: fit-content;
        min-height: 100vh;
        background-color: #FAA613;
        transition: all 0.3s ease-in-out;
        z-index: 99;
        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        justify-content: space-between;
        align-items: center;
        
    }
    .header {
        display: none;
    }

    /* Slide in the menu when burger button is clicked */
    .show-menu .slide-in-menu {
        right: 0; /* Slide the menu into view */
    }
}

@media (min-width: 360px) and (max-width: 800px) {
    
}

